  <style>
  .header {
    background-color: #f8f9fa;
    text-align: center;
    padding: 80px 0;
  }

  .header h1 {
    font-size: 48px;
    font-weight: bold;
    color: #333333;
  }

  .header p {
    font-size: 18px;
    color: #666666;
  }

  .section {
    padding: 80px 0;
  }

  .section h2 {
    font-size: 36px;
    font-weight: bold;
    color: #333333;
  }

  .section p {
    font-size: 18px;
    color: #666666;
  }
</style>
<header class="header">
  <div class="container">
    <h1>About Us</h1>
    <p>Welcome to Your Company! We are a team of passionate individuals dedicated to providing top-notch services.</p>
  </div>
</header>
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <%= image_tag("https://image.lexica.art/full_jpg/017955e0-e0a9-4917-9f45-81b7a03347da

", alt: "Image 1", class: "img-fluid") %>
      </div>
      <div class="col-lg-6">
        <h2>Our Story</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at malesuada lorem. Sed vel mauris libero. Nullam ac ligula at nunc ultrices fringilla vitae sed odio. Curabitur vel velit a nulla accumsan malesuada eu a eros. Curabitur vel velit a nulla accumsan malesuada eu a eros.</p>
        <p>Nullam quis vulputate justo. Nulla pharetra, odio id tincidunt venenatis, enim sapien aliquet nisi, a cursus odio est vel nunc. Nullam et neque finibus, posuere ligula non, bibendum nisl.</p>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2>Our Mission</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at malesuada lorem. Sed vel mauris libero. Nullam ac ligula at nunc ultrices fringilla vitae sed odio. Curabitur vel velit a nulla accumsan malesuada eu a eros. Curabitur vel velit a nulla accumsan malesuada eu a eros.</p>
        <p>Nullam quis vulputate justo. Nulla pharetra, odio id tincidunt venenatis, enim sapien aliquet nisi, a cursus odio est vel nunc. Nullam et neque finibus, posuere ligula non, bibendum nisl.</p>
      </div>
      <div class="col-lg-6">
        <img src="https://image.lexica.art/full_jpg/061e196f-2b09-43fd-9cf9-fcd35028368a" alt="Image 2" class="img-fluid">
      </div>
    </div>
  </div>
</section>

